services:
  clawdius:
    build:
      context: .
      network: host
      args:
        HTTP_PROXY: ${HTTP_PROXY:-}
        HTTPS_PROXY: ${HTTPS_PROXY:-}
        NO_PROXY: ${NO_PROXY:-localhost,127.0.0.1,host.docker.internal}
    ipc: host
    volumes:
      - ./src:/app/src
      - ./workspace:/app/workspace
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    environment:
      LLM_BASE_URL: http://host.docker.internal:8080
      WORKSPACE_DIR: /app/workspace
      http_proxy: ${HTTP_PROXY:-http://proxy.hcm.fpt.vn:80}
      https_proxy: ${HTTPS_PROXY:-http://proxy.hcm.fpt.vn:80}
      no_proxy: localhost,127.0.0.1,host.docker.internal
