services:
  clawdius:
    build:
      context: .
      args:
        HTTP_PROXY: ${HTTP_PROXY:-}
        HTTPS_PROXY: ${HTTPS_PROXY:-}
        NO_PROXY: ${NO_PROXY:-localhost,127.0.0.1,host.docker.internal}
    volumes:
      - ./src:/app/src
      - ./workspace:/app/workspace
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
